:root {
  --primary-color: #3E5F58;
  --primary-washed: #78A79D77;
  --primary-trans: #B5CFC9;
  --primary-light: #ECFDF3;
  --primary-faded: #F3F7F6;
  --bg-faded: #F5F7F6;
  
  --tx-error: #B91C1C;
  --tx-link: #026AA2;
  --tx-faded: #667085;
  --tx-dark: #101828;
  --tx-lightdark: #344054;

  --border-faded: #D0D5DD;
}

.ims-box-shadow-1 {
  box-shadow: 0 0 8px var(--primary-washed);
}
.ims-box-shadow-2 {
  box-shadow: 0 0 16px var(--primary-washed);
}
.ims-tx-shadow-1 {
  text-shadow: 1px 1px 2px var(--primary-color);
}
.ims-tx-shadow-2 {
  text-shadow: 1px 1px 4px var(--primary-color);
}

.ims-circ-button {
  /*clickble ims-bg-primary-trans ims-tx-primary flex-center tx-mdl  border-r-100p */
  cursor: pointer;
  background: var(--primary-trans);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.ims-border-faded {border:  1px solid var(--border-faded)}
.ims-border-error {border:  1px solid var(--tx-error)}

.ims-tx-primary {color: var(--primary-color); }
.ims-tx-primary-faded {color: var(--primary-faded); }
.ims-tx-error {color: var(--tx-error); }
.ims-tx-dark {color: var(--tx-dark); }
.ims-tx-lightdark {color: var(--tx-lightdark); }
.ims-tx-link {color: var(--tx-link); }
.ims-tx-faded {color: var(--tx-faded); }

.ims-bg-faded {background: var(--bg-faded); }
.ims-bg-primary {background: var(--primary-color); }
.ims-bg-primary-faded {background: var(--primary-faded); }
.ims-bg-primary-trans {background: var(--primary-trans); }
.ims-bg-primary-light {background: var(--primary-light); }

.ims-border-faded {box-shadow: 0 0 0 1px var(--bg-faded); }
.ims-border-primary {box-shadow: 0 0 0 1px var(--primary-color); }
.ims-border-primary-faded {box-shadow: 0 0 0 1px var(--primary-faded); }
.ims-border-primary-light {box-shadow: 0 0 0 1px var(--primary-light); }

/*HOVER*/
.ims-hov-primary-faded:hover {background: var(--primary-faded); }
.ims-hov-tx-primary-faded:hover; {color: var(--primary-faded); }
/*HOVER*/
body {
  font-family: "Inter";
}

.ims-body {
  width: 100%;
  font-family: "Inter";
  padding: 0 1rem;
  min-height: 80vh;
}

.ims-body-inner {
  display: block;
  padding: 0 1rem;
}
.ims-body-home {
  /*min-height: 100vh;*/
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ims-cardlink {
}
.ims-form-input {
}

.ims-cardlink {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.1s ease, border-color 0.1s ease;
  max-width: 300px;
}
.ims-cardlink:hover,
.ims-cardlink:focus,
.ims-cardlink:active {
  color: #0070f3;
  border-color: #0070f3;
}
.ims-cardlink-title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.ims-cardlink-desc {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



.ims-footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.ims-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media only screen and (min-width: 1200px)
{
  .ims-body {
    padding: 0 5rem;
  }
}